# Top-level pin constraints for ES4 Lab 7

# Clock input
set_io clk_12M 20

# VGA outputs
set_io HSYNC 25
set_io VSYNC 23
set_io RGB[0] 26
set_io RGB[1] 27
set_io RGB[2] 32
set_io RGB[3] 35
set_io RGB[4] 31
set_io RGB[5] 37

set_io start 42
set_io reset 2
set_io donato 45